.auto-layout-horizontal, .auto-layout-horizontal *{
    display: fles;
    flex-direction: row;
    gap: 1500px;
    align-items: center;
    
}
.heading,
.heading * {
    box-sizing: border-box;
}

.heading {
    position: absolute;
    inset: 0;
}



.hi-i-m-laura{
    color: #3A3A3A ;
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 47.52px;
    word-wrap: break-word;

}





.lb, .lb * {
    box-sizing: border-box;
}
.lb {
    text-align: left;
    font: 700 48px "Poppins", sans-serif;
}
.lb-span {
    color: #3a3a3a;
    font:700 48px "Poppins", sans-serif;
}
.lb-span2 {
    color:#3a3a3a;
    font: 700 48px "Poppins", sans-serif;
}

.tool{
    color:#3A3A3A;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 26.40px;
    word-wrap: break-word;
}
